.navbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    height: 64px;
}

.logo2 {
    font-size: 24px;
    font-weight: bold;
}

/* Custom styling for the dropdown to appear above the button */
.dropup .dropdown-menu {
    bottom: 100%;
    margin-bottom: 0.125rem;
}
.dropdown-container {
    display: flex;
    gap: 20px; /* Space between dropdowns */
    justify-content: center;
}
.dropdown-btn {
    min-width: 120px; /* Consistent button width */
}

.active-grayscale {
    background-color: #f0f0f0 !important;
    color: #333 !important;
    border-color: #ddd !important;
}

/* === Chino === */

.text-highlighted p,
.text-highlighted li,
.text-highlighted h1,
.text-highlighted h2,
.text-highlighted h3,
.text-highlighted h4,
.text-highlighted h5,
.text-highlighted h6 {
    background-color: #f8f32b !important;
    color: #1a1a1a !important;
    padding: 0.25em 0.4em;
    border-radius: 0.25em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Transición suave */
}

.paragraphs-highlighted p {
    border: 2px 2px 2px 6px solid #e67c00 !important;
    padding: 0.5em !important;
    border-radius: 0.375em !important;
    transition: all 0.3s ease; /* Transición suave */
}
