/*Teclados*/
.btn-teclado{
    background-color: aqua;
    color:blue;
}
.elemento-enfocable {
    border-radius: 5px;
}

.elemento-enfocable:focus {
    background-color: rgb(120, 9, 120);
}

#arriba {
    bottom: 100%;
    margin-bottom: 0.125rem;
}

#arriba:hover {
    background-color: #357abD;
}